/* ------------------------------ */
/* ---------- Side Nav ---------- */
/* ------------------------------ */

#sidenav {
    margin: 0 .8em;
    padding-top: .5em;
}

#sidenav ul { list-style-type: none; }

/* -------------------------- */
/* ---------- Main ---------- */
/* -------------------------- */

main {
    margin: 0 .8em;
}

/* ---------------------------------- */
/* ---------- Misc Buttons ---------- */
/* ---------------------------------- */

#misc-buttons-container {
    display: flex;
    justify-content: space-between;
    margin: .6em 0;
}
#misc-buttons-container button {
    width: 49%;
    padding: 1em;
}
#misc-buttons-container button svg { margin-right: .3em; }

/* -------------------------- */
/* ---------- Sort ---------- */
/* -------------------------- */

#sort-main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#sort-container {
    flex: 1;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
#sort-container label {
    padding: 0 .1em;
}
#sort-container label:last-child {
    /*flex-basis:;*/
}
#sort-container label select {
    display: block;
    width: 100%;
    background-color: var(--second-bg-color);
    color: var(--second-text-color);
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

#number-displayed-container {
    flex: 1;
    display: flex;
    align-items: flex-end;
}

/* --------------------------- */
/* ---------- Stats ---------- */
/* --------------------------- */

#stats { margin: 0 1em; }